**/venv
**/.idea
**/.pytest_cache
**/__pycache__
**/*.pyc
**/dist
.DS_Store
.vscode/settings.json

# Coverage reports
**/.coverage
**/.coverage.*
**/coverage.xml
**/htmlcov/
**/diff-coverage.html
**/gh-pages-deploy/
